<?xml version="1.0" encoding="utf-8"?>
<ApplicationInsights xmlns="http://schemas.microsoft.com/ApplicationInsights/2013/Settings">
  <!-- This key is for Application Insights resource 'CodeSnippets3' in resource group 'Default-ApplicationInsights-CentralUS' -->
  <InstrumentationKey>88b784ac-21e1-4c15-9e0d-fa30b54a76a2</InstrumentationKey>
</ApplicationInsights>